#popup {
  position: fixed;
  right: 6em;
  bottom: 6em;
  transform: translate(5em, 5em);
  min-width: 100px;
  max-width: 10%;
  min-width: 100px;
  max-width: 80%;
  background-color: lightgray;
  padding: 1em;
  border-radius: 1em;
  display: block;
  opacity: 0
}
.appear {
  animation: 3s appear
}
@keyframes appear {
  50% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}
#slider .slider-track-high, .slider-track-high {
	background: green
}
#slider .slider-track-low, .slider-track-low {
	background: red
}
#slider .slider-selection {
	background: yellow
}
.slider.slider-horizontal {
  width: 100%;
}
html, body {
  overflow-x: hidden
}
body {
  position: relative
}
